
<style>
    
</style>


<section>
    <!-- 일단 고정 값이라서.. 이렇게 두고 추가될거같으면 컴포넌트에 넘겨주는걸로 -->
    <ul>
        <li>
            결재자
        </li>
        <li>
            참조자
        </li>
    </ul>
    <!-- 이것도 컴포넌트로 뜯자 li부분만-->
    <div> 
        <ul>
            <li>
                <img src="" alt="">
                <div>
                    <span>이름</span>
                    <span>팀명</span>
                    <span>완료여부</span>
                    <p>기안 의견 </p>
                </div>
            </li>
        </ul>
    </div>
</section>